body {
	font-size: 12px;
	color: #010101;
	background: #c0c0c0;
	font-family: Arial, Helvetica, sans-serif;
}

.tundra {
    background-color: #aaa;
    background-image: none;
    margin: 0;
}

select {
    padding-top: .3em;
    padding-bottom: .3em;
    color: #000;
}

.container {
	width: 900px;
	margin: auto;
}

a,a:visited,a:link,a:active {
	background-color: transparent;
	text-decoration: none;	
}

#searchString {
	padding-top: .3em;
    padding-bottom: .3em;
}

#pageSize {
	margin: 0 0.1em;
	height: 130%;
	width: 50px;
}

a.button, button {

margin: 0.7em 0.5em 0.7em 0;
padding: 5px 10px 5px 7px;
border:1px solid #336699;
background-color: #f8f8f8;
font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
font-size: 100%;
line-height: 130%;
text-decoration: none;
font-weight: bold;
color:#336699;
cursor: pointer;
}

a.killme {
margin: 0.7em 0.5em 0.7em 0;
padding: 5px 10px 5px 7px;
border:1px solid red;
background-color: #f8f8f8;
font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
font-size: 100%;
line-height: 130%;
text-decoration: none;
font-weight: bold;
color:red;
cursor: pointer;
}

table.appControls  {
	border-collapse: collapse;
	border-width: thick;
	width: 500px;
	margin: 0px;
	padding: 0px;
}

.appControls tr {
	margin: 0px;
	padding: 0px;
}

.appControls td.control {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.appControls td.alert {
	text-align: right;
	margin: 0px;
	padding: 0px;
}

.vcapInfo table {
	border-collapse: collapse;
}

.vcapInfo th {
	text-align: right;
	font-size: 90%;
	vertical-align: top;
}

.vcapInfo td {
	text-align: left;
	font-size: 90%;
	vertical-align: top;
}

button:hover, a.button:hover {
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	color:#336699;
}

.summary {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
}

.summary thead th {
	border-left: 1px solid #000;
	background-color:#dff4ff;
	border-bottom: 1px solid #414f23;
	padding: 6px;
	text-align: left;
	font-size: small;
}

.summary tbody td {
	border-left: 1px solid #000;
	padding: 4px;
	border-bottom: 1px solid #000;
	font-size: 8pt;
}

.label {
	font-weight: bold;	
}

div.confirmed {
	border: solid 1px #CCCCCC;
	background: #E4F7CD;
	padding: 4px;
	font-weight: bold;
	margin-bottom: 4px;
}

#header {
	background: url(../images/header_bg.jpg) no-repeat;
	height: 119px;
	padding: 31px 43px 0 27px;
}

#menu {
	background: #3c57ba;
	height: 39px;
	width: 900px;
}
#menu>ul {
margin: 0 0 0 20px;
padding: 2px 0 0 0;
list-style: none;
}
#menu ul li {
color: #cfdcea;
float: left;
font-weight: 400;
padding: 0 0px;
font-size: 14px;
position: relative;
z-index: 999;
}
#menu ul li a {
color: #cfdcea;
float: left;
line-height: 32px;
padding: 1px 3px 4px 4px;
text-decoration: none;
}
#menu ul li.nav_separator {
background: url(../images/sep.jpg) 2px 10px no-repeat;
width: 5px;
height: 35px;
}

#middle {
position: relative;
background: #fff;
overflow: hidden;
clear: both;
}

#middle #leftSec {
float: left;
width: 220px;
}

#middle #leftSec .dynamicText {
margin: 0px;
padding: 0px;
list-style: none;
}
#middle #leftSec .dynamicText li {
background: #dbe6f4;
float: left;
display: block;
margin-bottom: 2px;
overflow: hidden;
}

#middle #leftSec .dynamicText li a {
width: 200px;
display: block;
overflow: hidden;
padding: 5px 5px 5px 5px;
}
#middle #leftSec .dynamicText li .left {
float: left;
width: 125px;
margin-top: 8px;
cursor: pointer;
color: #000;
}
#middle #leftSec .dynamicText li span.h4 {
font-size: medium;
font-weight: bolder;
display: block;
color: #555;
}
#middle #leftSec .dynamicText li span.p {
line-height: 19px;
display: block;
padding-top: 3px;
}
#middle #leftSec .dynamicText li img {
width: 60px;
height: 60px;
}

#middle #midSec {
float: left;
width: 680px;
}

h3 {
font-size: 14px;
margin-bottom: 7px;
padding: 0 0 3px 5px;
color: #3b60af;
font-weight: 700;
border-bottom: solid 1px #afc1d3;
text-transform: uppercase;
}

#main {
	padding: 20px 10px 0px 20px;
}

#footer {
	font-size: 11px;
clear: both;
width: 900px;
padding: 8px 0 0px 0;
text-align: left;
background-color: #ebebeb;
border-top: #2442b2 6px solid;
border-bottom: #101315 1px solid;
}

#footer .colLogos {
width: 108px;
text-align: center;
float: left;
padding: 0 10px 0 2px;
}

#footer .col {
width: 172px;
float: left;
padding: 0 10px 0 10px;
border-left: #a4a4a4 1px solid;
}

#footer ul {
list-style-type: none;
padding-left: 0;
margin: 0;
}

#footer ul li {
background: url("../images/bulletFooter.jpg") 0 5px no-repeat;
padding-left: 12px;
margin-bottom: 5px;
list-style-type: none;
}

#footer a {
color: #031D4E;
text-decoration: underline;
}

